<h1>Hello <%= current_user.login %></h1>
<p>log a new wheigt right <%= link_to 'now', new_log_path %></p>

<table>
  <thead>
  <tr>
    <th colspan="2">Weekly overview</th>
  </tr>
  <tr>
    <th>Weight</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% @logs.each do |log| %>
      <tr>
        <td><%= log.weight %></td>
        <td><%= log.date %></td>
      </tr>
  <% end %>
  </tbody>
</table>

